Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

Add 'Should handle incentives pool redeployment' test
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Add missing revert messages to require statements
  contracts/paranets/ParanetIncentivesPoolFactory.sol
  contracts/tokens/ERC1155Delta.sol
Due: prettier --write

Add 'Should handle token emission multiplier updates correctly' test
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Fix naming
  contracts/paranets/Paranet.sol
  contracts/storage/paranets/ParanetsRegistry.sol
Due: prettier --write

Fix hasIncentivesPoolByStorageAddress function
  contracts/storage/paranets/ParanetsRegistry.sol
Due: prettier --write

Add more checks to existing tests
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Add tests for multiple incentive contracts
  abi/Paranet.json
  abi/ParanetsRegistry.json
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

remove only
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Improve pool and pool storage test coverage
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Add more coverage tests
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Comment out permissioned tests
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Move tests to the same section
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Update paranet metadata tests
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Add Paranet service metadata tests
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Add tokenOrigin
  contracts/paranets/ParanetIncentivesPoolStorage.sol
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

Add ABI
  abi/ParanetIncentivesPoolStorage.json
Due: prettier --write

Add access modifier to Paranet.sol contracts
  contracts/paranets/Paranet.sol
Due: prettier --write

Add test github action
  .github/workflows/test.yml
Due: none

Run tests only on pull requests
  .github/workflows/test.yml
Due: none

Fix Profile tests
  test/unit/Profile.test.ts
Due: prettier --write, eslint --fix

Remove old paranet tests
  test/integration/OldParanet.test.ts
Due: prettier --write, eslint --fix

Review fixes
  contracts/paranets/ParanetIncentivesPoolStorage.sol
  contracts/storage/paranets/ParanetStagingRegistry.sol
Due: prettier --write

Update ABI
  abi/ParanetIncentivesPoolStorage.json
Due: prettier --write

Add deployments
  deployments/base_mainnet_contracts.json
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/neuroweb_mainnet_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

Version bump
  package.json
Due: prettier --write

Fix Profile test
  test/unit/Profile.test.ts
Due: prettier --write, eslint --fix

speed up test execution
  .github/workflows/test.yml
Due: none

added the Access control for incentives pool storage test
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

added other Reward functions tests
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

added Voter batch too large case
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

added Voter already exists case
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

added Voter index out of bounds case
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

added VoterclaimedToken case
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

added addTotal...claimedToken cases
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

added transferReward case
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

added setTotal...claimedToken cases
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

added decrementTotal...claimedToken cases
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

added clarification for address being non incetives pool
  test/integration/Paranet.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{json,js,ts,sol}
  eslint --fix: any of: *.{js,ts}
  solhint --write: any of: *.sol,!contracts/{libraries/*.sol,Guardian.sol}
