Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

.lintstagedrc:

{
  "*.{json,js,ts,sol}": [
    "prettier --write"
  ],
  "*.{js,ts}": [
    "eslint --fix"
  ],
  "*.sol,!contracts/{libraries/*.sol,Guardian.sol}": [
    "solhint --write"
  ]
}

Add claimRewards function
  abi/RandomSampling.json
  abi/RandomSamplingStorage.json
  contracts/RandomSampling.sol
  contracts/storage/RandomSamplingStorage.sol
Due: prettier --write

change revert to require
  contracts/RandomSampling.sol
Due: prettier --write

fixed the contract address whitelist issue
  contracts/KnowledgeCollection.sol
  contracts/Paymaster.sol
  contracts/interfaces/IPaymaster.sol
  contracts/storage/PaymasterManager.sol
Due: prettier --write

add onlyHub to initialize in RandomSampling.sol
  contracts/RandomSampling.sol
Due: prettier --write

v8.0.12 testnet release new deployments
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

Add delegatorScore > 0 check
  contracts/RandomSampling.sol
Due: prettier --write

Add more proof submission tests
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

bump version number
  package.json
Due: prettier --write

Add claimRewards tests
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

added Paymaster integration tests
  test/integration/Paymaster.test.ts
Due: prettier --write, eslint --fix

update readme
  README.md
Due: none

new contract addresses
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

added unit tests and fixed failing ones
  test/unit/Paymaster.test.ts
Due: prettier --write, eslint --fix

removed deprecated helper function
  test/helpers/kc-helpers.ts
  test/integration/Paymaster.test.ts
Due: prettier --write, eslint --fix

added 'Only KnowledgeCollection can call coverCost case
  test/integration/Paymaster.test.ts
Due: prettier --write, eslint --fix

update
  test/integration/Staking.test.ts
Due: prettier --write, eslint --fix

Remove allNodesEpochProofPeriodScore from storage
  abi/RandomSamplingStorage.json
  contracts/RandomSampling.sol
  contracts/storage/RandomSamplingStorage.sol
  test/integration/RandomSampling.test.ts
  test/unit/RandomSamplingStorage.test.ts
Due: prettier --write, eslint --fix

provided optional KC creation arguments
  test/helpers/kc-helpers.ts
Due: prettier --write, eslint --fix

added a helper for creating a Paymaster contract instance
  test/helpers/paymaster-helpers.ts
Due: prettier --write, eslint --fix

updated Paymaster contract ABI
  abi/IPaymaster.json
  abi/Paymaster.json
Due: prettier --write

add more tests
  test/unit/Staking.test.ts
Due: prettier --write, eslint --fix

update _distributeTokens and _validateTokenAmount call
  contracts/KnowledgeCollection.sol
Due: prettier --write

comments update
  contracts/KnowledgeCollection.sol
Due: prettier --write

move require from calculateNodeScore
  contracts/RandomSampling.sol
Due: prettier --write

update _validateTokenAmount argument
  contracts/KnowledgeCollection.sol
Due: prettier --write

Update full scenario test
  test/integration/Staking.test.ts
Due: prettier --write, eslint --fix

fix RS test
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

fixed error that comes up while running DelegatorsInfo contract tests
  deploy/023_deploy_staking.ts
Due: prettier --write, eslint --fix

test: optimize and add coverage step to ./yml flow
  .github/workflows/checks.yml
  .solcover.js
  hardhat.node.config.ts
  package.json
Due: prettier --write, eslint --fix

seperate coverage into dedicated job
  .github/workflows/checks.yml
Due: none

refactoring into seperate .yml
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
Due: none

added set, get and emit unit tests
  test/unit/DelegatorsInfo.test.ts
Due: prettier --write, eslint --fix

final fix
  .github/workflows/coverage.yml
Due: none

setup works
  contracts/KnowledgeCollection.sol
  test/integration/Staking-trash.test.ts
  test/integration/Staking.fullscenario.test.ts
  test/integration/Staking.test.ts
  test/unit/Staking.test.ts
Due: prettier --write, eslint --fix
