Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Updated cache action
  .github/actions/setup/action.yml
Due: none

Deployed contracts on otp_alphanet
  deployments/otp_alphanet_contracts.json
Due: prettier --write

Deployed contracts on otp_devnet
  deployments/otp_devnet_contracts.json
Due: prettier --write

Deployed contracts on otp_testnet
  deployments/otp_testnet_contracts.json
Due: prettier --write

Added ContractStatus abstract contract and inheritance in all logic contracts
  .lintstagedrc
  contracts/Assertion.sol
  contracts/CommitManagerV1.sol
  contracts/CommitManagerV1U1.sol
  contracts/HashingProxy.sol
  contracts/Identity.sol
  contracts/Profile.sol
  contracts/ProofManagerV1.sol
  contracts/ProofManagerV1U1.sol
  contracts/ScoringProxy.sol
  contracts/ServiceAgreementV1.sol
  contracts/ShardingTable.sol
  contracts/Shares.sol
  contracts/Staking.sol
  contracts/Token.sol
  contracts/abstract/AbstractAsset.sol
  contracts/abstract/ContractStatus.sol
  contracts/abstract/HubDependent.sol
  contracts/assets/ContentAsset.sol
  contracts/interface/Initializable.sol
  contracts/scoring/log2pldsf.sol
  contracts/storage/ParametersStorage.sol
  contracts/storage/ServiceAgreementStorageProxy.sol
  contracts/storage/assets/ContentAssetStorage.sol
  deploy/998_dependencies_reinitialization.ts
Due: prettier --write, eslint --fix

Added output names for complex returns, generated new ABI files
  abi/Assertion.json
  abi/CommitManagerV1.json
  abi/CommitManagerV1U1.json
  abi/ContractStatus.json
  abi/HashingProxy.json
  abi/HubController.json
  abi/HubDependent.json
  abi/Identity.json
  abi/Initializable.json
  abi/Log2PLDSF.json
  abi/Profile.json
  abi/ProfileStorage.json
  abi/ProofManagerV1.json
  abi/ProofManagerV1U1.json
  abi/ScoringProxy.json
  abi/ServiceAgreementStorageProxy.json
  abi/ServiceAgreementStorageV1.json
  abi/ServiceAgreementStorageV1U1.json
  abi/ServiceAgreementV1.json
  abi/ShardingTable.json
  abi/Staking.json
  contracts/ProofManagerV1.sol
  contracts/ProofManagerV1U1.sol
  contracts/ServiceAgreementV1.sol
  contracts/scoring/log2pldsf.sol
  contracts/storage/ProfileStorage.sol
  contracts/storage/ServiceAgreementStorageProxy.sol
  contracts/storage/ServiceAgreementStorageV1.sol
  contracts/storage/ServiceAgreementStorageV1U1.sol
Due: prettier --write, eslint --fix

README improvements
  README.md
  package.json
Due: prettier --write

Added missing repository description part in the README
  README.md
Due: none

Typo fix in the README
  README.md
Due: none

Added missing ABI exports to index.ts
  index.ts
Due: prettier --write, eslint --fix

Modified deployment scripts in order to set contracts in the Hub immidiately for Hardhat and use HubController to forward calls
  deploy/001_deploy_hub.ts
  deploy/002_deploy_hub_controller.ts
  deploy/003_deploy_token.ts
  deploy/007_deploy_sha256.ts
  deploy/009_deploy_log2pldsf.ts
  deploy/998_initialize_contracts.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Added Gnosis MultiSigWallet implementation, new modifier for HubController
  .lintstagedrc
  .prettierignore
  .solhint.json
  .solhintignore
  abi/TraceLabsMultiSigWallet.json
  contracts/HubController.sol
  contracts/TraceLabsMultiSigWallet.sol
  deploy/001_deploy_hub.ts
  deploy/002_deploy_hub_controller.ts
  deploy/002_deploy_token.ts
  deploy/003_deploy_parameters_storage.ts
  deploy/004_deploy_whitelist_storage.ts
  deploy/005_deploy_hashing_proxy.ts
  deploy/006_deploy_sha256.ts
  deploy/007_deploy_scoring_proxy.ts
  deploy/008_deploy_log2pldsf.ts
  deploy/009_deploy_assertion_storage.ts
  deploy/010_deploy_identity_storage.ts
  deploy/011_deploy_sharding_table_storage.ts
  deploy/012_deploy_staking_storage.ts
  deploy/013_deploy_profile_storage.ts
  deploy/014_deploy_service_agreement_storage_v1.ts
  deploy/015_deploy_service_agreement_storage_v1u1.ts
  deploy/016_deploy_service_agreement_storage_proxy.ts
  deploy/017_deploy_content_asset_storage.ts
  deploy/018_deploy_unfinalized_state_storage.ts
  deploy/019_deploy_assertion.ts
  deploy/020_deploy_identity.ts
  deploy/021_deploy_sharding_table.ts
  deploy/022_deploy_staking.ts
  deploy/023_deploy_profile.ts
  deploy/024_deploy_commit_manager_v1.ts
  deploy/025_deploy_proof_manager_v1.ts
  deploy/026_deploy_commit_manager_v1_u1.ts
  deploy/027_deploy_proof_manager_v1_u1.ts
  deploy/028_deploy_service_agreement_v1.ts
  deploy/029_deploy_content_asset.ts
  hardhat.node.config.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Changed lint-staged config
  .lintstagedrc
Due: none

Fixed deployment script and tests, changed revert handling in HubController forwardCall
  contracts/HubController.sol
  deploy/001_deploy_hub.ts
  deploy/006_deploy_sha256.ts
  deploy/008_deploy_log2pldsf.ts
  deploy/012_deploy_staking_storage.ts
  test/integration/ContentAsset.test.ts
  test/unit/AssertionStorage.test.ts
  test/unit/ContentAsset.test.ts
  test/unit/Hub.test.ts
  test/unit/Identity.test.ts
  test/unit/IdentityStorage.test.ts
  test/unit/ParametersStorage.test.ts
  test/unit/Profile.test.ts
  test/unit/ProfileStorage.test.ts
  test/unit/ServiceAgreementStorageProxy.test.ts
  test/unit/ServiceAgreementStorageV1.test.ts
  test/unit/ServiceAgreementStorageV1U1.test.ts
  test/unit/ServiceAgreementV1.test.ts
  test/unit/ShardingTableStorage.test.ts
  test/unit/Staking.test.ts
  test/unit/UnfinalizedStateStorage.test.ts
  test/unit/WhitelistStorage.test.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Updated prettier/solhint configs, added ownership transfer/renounce for Hub from the level of HubController, added event for setters in ParametersStorage
  .prettierrc
  .solhint.json
  abi/HubController.json
  abi/Log2PLDSF.json
  abi/ParametersStorage.json
  contracts/HubController.sol
  contracts/Shares.sol
  contracts/scoring/log2pldsf.sol
  contracts/storage/ParametersStorage.sol
Due: prettier --write, eslint --fix

Changed modifier for old Hub ownership management to only owner of the HubController
  contracts/HubController.sol
  deploy/998_initialize_contracts.ts
Due: prettier --write, eslint --fix

Added HubController ownership transfer in deployment script, added comments to forwardCall function in HubController
  contracts/HubController.sol
  deploy/001_deploy_hub.ts
Due: prettier --write, eslint --fix

Added step in the deployment script to add old ContentAsset to the Hub with the oldContentAsset key, task for low-level call data encoding
  deploy/029_deploy_content_asset.ts
  hardhat.config.ts
  tasks/low_level_call_data_encoder.ts
  tasks/send_otp.ts
Due: prettier --write, eslint --fix

Removed temp deployment script part, added encode_data task to README
  README.md
  deploy/029_deploy_content_asset.ts
Due: prettier --write, eslint --fix

Added more logs to deployment scripts, added wait for ParametersStorage txs in order to avoid nonce issue
  deploy/001_deploy_hub.ts
  deploy/003_deploy_parameters_storage.ts
Due: prettier --write, eslint --fix

Fixed deployment script issue
  deploy/003_deploy_parameters_storage.ts
Due: prettier --write, eslint --fix

Added wait for initialize mining during local deployment
  utils/helpers.ts
Due: prettier --write, eslint --fix

Added ParametersStorage setters, hash/score functions setting to the HubController, removed problematic forward calls during deployment
  contracts/HubController.sol
  deploy/001_deploy_hub.ts
  deploy/003_deploy_parameters_storage.ts
  deploy/006_deploy_sha256.ts
  deploy/008_deploy_log2pldsf.ts
  deploy/029_deploy_content_asset.ts
  deploy/998_initialize_contracts.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Fixed local network deployment, fixed tests
  abi/HubController.json
  deploy/001_deploy_hub.ts
  deploy/006_deploy_sha256.ts
  deploy/008_deploy_log2pldsf.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Fixed helpers deploy function
  deploy/008_deploy_log2pldsf.ts
  deploy/029_deploy_content_asset.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Added TODO
  utils/helpers.ts
Due: prettier --write, eslint --fix

Fixed HubController modifier, ParametersStorage params setting
  contracts/HubController.sol
  deploy/003_deploy_parameters_storage.ts
  deploy/998_initialize_contracts.ts
  hardhat.node.config.ts
Due: prettier --write, eslint --fix

Changed the order of setting ContentAsset contracts in the Hub
  deploy/029_deploy_content_asset.ts
Due: prettier --write, eslint --fix

Changed the order of setting ContentAsset contracts in the Hub
  deploy/029_deploy_content_asset.ts
  tasks/low_level_call_data_encoder.ts
Due: prettier --write, eslint --fix

Fixed ContentAsset deployment script
  deploy/029_deploy_content_asset.ts
Due: prettier --write, eslint --fix

Fixed flag in the ContentAsset deployment script
  deploy/029_deploy_content_asset.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,sol}) or (any of: *.json)
  eslint --fix: any of: *.{js,ts,sol}
