Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

Add division by zero checks in storage
  contracts/storage/RandomSamplingStorage.sol
Due: prettier --write

Add test improvements
  test/helpers/kc-helpers.ts
  test/helpers/paranet-helpers.ts
  test/integration/Paranet.test.ts
  test/unit/KnowledgeCollection.test.ts
Due: prettier --write, eslint --fix

Gas optimizations
  abi/RandomSampling.json
  abi/RandomSamplingStorage.json
  contracts/RandomSampling.sol
  contracts/storage/RandomSamplingStorage.sol
Due: prettier --write

Fix blockhash bug and add requires
  contracts/RandomSampling.sol
  contracts/storage/RandomSamplingStorage.sol
Due: prettier --write

Update setup helpers
  test/helpers/setup-helpers.ts
Due: prettier --write, eslint --fix

Update Staking version test
  test/unit/Staking.test.ts
Due: prettier --write, eslint --fix

Add new and reorg old tests
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Redeploy paranet contracts
  deployments/base_mainnet_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/neuroweb_mainnet_contracts.json
Due: prettier --write

temp commit
  test/helpers/kc-helpers.ts
  test/helpers/paranet-helpers.ts
  test/helpers/profile-helpers.ts
  test/helpers/setup-helpers.ts
  test/helpers/types.ts
  test/unit/RandomSamplingStorage.test.ts
Due: prettier --write, eslint --fix

Adapt RS deployments for all networks
  deploy/030_deploy_random_sampling_storage.ts
  deploy/031_deploy_random_sampling.ts
  deployments/parameters.json
Due: prettier --write, eslint --fix

remove comment
  contracts/libraries/RandomSamplingLib.sol
Due: prettier --write

Add more proof submission tests
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

fixed the contract address whitelist issue
  contracts/KnowledgeCollection.sol
  contracts/Paymaster.sol
  contracts/interfaces/IPaymaster.sol
  contracts/storage/PaymasterManager.sol
Due: prettier --write

provided optional KC creation arguments
  test/helpers/kc-helpers.ts
Due: prettier --write, eslint --fix

added Paymaster integration tests
  test/integration/Paymaster.test.ts
Due: prettier --write, eslint --fix

added unit tests and fixed failing ones
  test/unit/Paymaster.test.ts
Due: prettier --write, eslint --fix

added a helper for creating a Paymaster contract instance
  test/helpers/paymaster-helpers.ts
Due: prettier --write, eslint --fix

added 'Only KnowledgeCollection can call coverCost case
  test/integration/Paymaster.test.ts
Due: prettier --write, eslint --fix

Update assertion tools and bump version
  package-lock.json
  package.json
Due: prettier --write

Add DelegatorsInfo events
  abi/DelegatorsInfo.json
  contracts/storage/DelegatorsInfo.sol
Due: prettier --write

new contract addresses
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

Remove migrator deployment
  deploy/029_deploy_migrator.ts
  deploy/029_deploy_random_sampling_storage.ts
  deploy/030_deploy_random_sampling.ts
Due: prettier --write, eslint --fix

update readme
  README.md
Due: none

change migrate to public
  contracts/storage/DelegatorsInfo.sol
Due: prettier --write

add onlyHub to initialize in RandomSampling.sol
  contracts/RandomSampling.sol
Due: prettier --write

use ContractStatus instead of HubDependent
  abi/RandomSamplingStorage.json
  contracts/storage/RandomSamplingStorage.sol
Due: prettier --write

bump version number
  package.json
Due: prettier --write

revert to old version
  package.json
Due: prettier --write

Add claimRewards function
  abi/RandomSampling.json
  abi/RandomSamplingStorage.json
  contracts/RandomSampling.sol
  contracts/storage/RandomSamplingStorage.sol
Due: prettier --write

Add claimRewards tests
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Add TRAC fees added to stakingStorage check
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Add delegatorScore > 0 check
  contracts/RandomSampling.sol
Due: prettier --write

change revert to require
  contracts/RandomSampling.sol
Due: prettier --write

v8.0.12 testnet release new deployments
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

Update to new staking
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

removed deprecated helper function
  test/helpers/kc-helpers.ts
  test/integration/Paymaster.test.ts
Due: prettier --write, eslint --fix

updated Paymaster contract ABI
  abi/IPaymaster.json
  abi/Paymaster.json
Due: prettier --write

version bump to 8.0.13
  package-lock.json
  package.json
Due: prettier --write

extract constant in Ask.sol
  contracts/Ask.sol
Due: prettier --write

new Ask abi
  abi/Ask.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,js,ts,sol}
  eslint --fix: any of: *.{js,ts}
  solhint --write: any of: *.sol,!contracts/{libraries/*.sol,Guardian.sol}
