Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

.lintstagedrc:

{
  "*.{json,js,ts,sol}": [
    "prettier --write"
  ],
  "*.{js,ts}": [
    "eslint --fix"
  ],
  "*.sol,!contracts/{libraries/*.sol,Guardian.sol}": [
    "solhint --write"
  ]
}

fix staking on gnosis and base testnet
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

fix same challenge submitted multiple times
  abi/RandomSampling.json
  contracts/RandomSampling.sol
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

change public to external
  contracts/storage/RandomSamplingStorage.sol
Due: prettier --write

RandomSampling submitProof bugfix deployments
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

Unit tests for RandomSampling
  test/unit/RandomSampling.test.ts
  test/unit/RandomSamplingStorage.test.ts
Due: prettier --write, eslint --fix

all issues with new version of randomSampling fixed
  test/unit/RandomSampling.test.ts
  test/unit/RandomSamplingStorage.test.ts
Due: prettier --write, eslint --fix

V2
  test/unit/RandomSampling.test.ts
  test/unit/RandomSamplingStorage.test.ts
Due: prettier --write, eslint --fix

modification of randomSampling and randomSampling storage tests
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  test/helpers/blockchain-helpers.ts
  test/unit/RandomSampling.test.ts
  test/unit/RandomSamplingStorage.test.ts
Due: prettier --write, eslint --fix

Update test.yml
  .github/workflows/test.yml
Due: none

Unit tests for random sampling and random sampling storage
  .github/workflows/test.yml
  test/helpers/blockchain-helpers.ts
  test/unit/RandomSampling.test.ts
  test/unit/RandomSamplingStorage.test.ts
Due: prettier --write, eslint --fix

integration test added to git actions
  .github/workflows/test.yml
Due: none

added impersonation of hub instead of fake workaround
  test/unit/RandomSampling.test.ts
  test/unit/RandomSamplingStorage.test.ts
Due: prettier --write, eslint --fix

Rename test.yml to random-sampling-test-actions.yml
  .github/workflows/random-sampling-test-actions.yml
Due: none

Updated and finished tests
  test/unit/Staking.test.ts
Due: prettier --write, eslint --fix

Added events emit checks
  test/unit/RandomSamplingStorage.test.ts
Due: prettier --write, eslint --fix

Added node scoring system tests
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Update RandomSampling.test.ts
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Prettier
  test/unit/Staking.test.ts
Due: prettier --write, eslint --fix

add two tests
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Make getDelegatorEpochRewardsAmount public
  abi/RandomSampling.json
  contracts/RandomSampling.sol
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

make calculateNodeScore public
  abi/RandomSampling.json
  contracts/RandomSampling.sol
Due: prettier --write

Add more metrics to RandomSamplingStorage
  abi/RandomSamplingStorage.json
  contracts/RandomSampling.sol
  contracts/storage/RandomSamplingStorage.sol
Due: prettier --write

new deployments
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

Adapt scoring logic
  contracts/RandomSampling.sol
  contracts/storage/RandomSamplingStorage.sol
Due: prettier --write

Add more tests
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Update tests
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Add allNodesEpochScore > 0 require to getDelegatorEpochRewardsAmount
  abi/RandomSamplingStorage.json
  contracts/RandomSampling.sol
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Added Delegator tests, and complex cases
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Updated unit tests for the new version of RandomSampling
  test/unit/RandomSampling.test.ts
Due: prettier --write, eslint --fix

Update yml
  .github/workflows/checks.yml
  package-lock.json
Due: prettier --write

add tests dynamically in yml
  .github/workflows/checks.yml
Due: none

fix yml file
  .github/workflows/checks.yml
Due: none

Update yml_2
  .github/workflows/checks.yml
Due: none

update yml_3
  .github/workflows/checks.yml
Due: none

Update yml_4
  .github/actions/setup/action.yml
  .github/workflows/checks.yml
Due: none
