Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

.lintstagedrc:

{
  "*.{json,js,ts,sol}": [
    "prettier --write"
  ],
  "*.{js,ts}": [
    "eslint --fix"
  ],
  "*.sol,!contracts/{utils/*.sol,Guardian.sol,MultiSigWallet.sol}": [
    "solhint --write"
  ]
}

Changed path of the example in the README
  README.md
Due: none

Added commits metadata clearing on KA update cancelation
  contracts/v1/assets/ContentAsset.sol
Due: prettier --write

Updated update function to handle invalid cancel update
  contracts/v1/assets/ContentAsset.sol
Due: prettier --write

Added unit test for validating metadata after cancel update is called
  contracts/v1/assets/ContentAsset.sol
  test/v1/unit/ContentAsset.test.ts
Due: prettier --write, eslint --fix

Fixed linter errors, added function to clear old commits metadata for failed updates
  contracts/v1/assets/ContentAsset.sol
  test/v1/unit/ContentAsset.test.ts
  test/v2/unit/CommitManagerV2.test.ts
  test/v2/unit/CommitManagerV2U1.test.ts
Due: prettier --write, eslint --fix

Added disabling flag for old metadata clearing in ContentAsset contract
  abi/ContentAsset.json
  contracts/v1/assets/ContentAsset.sol
  deployments/hardhat_contracts.json
  package-lock.json
  package.json
Due: prettier --write

Updated Node.js in Github Actions to 20.x
  .github/actions/setup/action.yml
  .github/workflows/npm-publish.yml
Due: none

Added possibility to override contract parameters for specific network, redeployed ContentAsset on NeuroWeb Devnet and Chiado Devnet
  contracts/v1/assets/ContentAsset.sol
  deployments/gnosis_chiado_dev_contracts.json
  deployments/otp_devnet_contracts.json
  deployments/parameters.json
  utils/helpers.ts
Due: prettier --write, eslint --fix

Set stake withdrawal delay to 5 minutes for NeuroWeb Mainnet
  deployments/parameters.json
Due: prettier --write

Redeployed ContentAsset on all chains
  deployments/gnosis_chiado_test_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/otp_mainnet_contracts.json
  deployments/otp_testnet_contracts.json
  deployments/parameters.json
Due: prettier --write

Implemented first version of ParanetsRegistry and part of the Paranet logic
  abi/ContentAsset.json
  abi/KnowledgeMinersRegistry.json
  abi/Paranet.json
  abi/ParanetIncentivesPool.json
  abi/ParanetsRegistry.json
  contracts/v1/assets/ContentAsset.sol
  contracts/v1/errors/paranets/ParanetErrors.sol
  contracts/v1/paranets/Paranet.sol
  contracts/v1/paranets/ParanetIncentivesPool.sol
  contracts/v1/storage/paranets/KnowledgeMinersRegistry.sol
  contracts/v1/storage/paranets/ParanetsRegistry.sol
  contracts/v1/structs/paranets/ParanetStructs.sol
  hardhat.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Added IncentivesPool deployment during Paranet registration
  contracts/v1/paranets/Paranet.sol
  contracts/v1/storage/paranets/ParanetsRegistry.sol
  contracts/v1/structs/paranets/ParanetStructs.sol
Due: prettier --write

Implemented KAs/KMs Registries
  abi/KnowledgeAssetsRegistry.json
  abi/ParanetsRegistry.json
  contracts/v1/paranets/Paranet.sol
  contracts/v1/storage/paranets/KnowledgeAssetsRegistry.sol
  contracts/v1/storage/paranets/KnowledgeMinersRegistry.sol
  contracts/v1/storage/paranets/ParanetsRegistry.sol
  contracts/v1/structs/paranets/ParanetStructs.sol
Due: prettier --write

Reworked Node Operator fee change mechanism
  abi/StakingV2.json
  contracts/v2/Staking.sol
  deployments/hardhat_contracts.json
  package-lock.json
  package.json
  test/v1/unit/ContentAsset.test.ts
  test/v2/unit/StakingV2.test.ts
Due: prettier --write, eslint --fix

Removed redundant JSON config
  deployments/hardhat_contracts.json
Due: prettier --write

Enabled Node Operator Fee Change Requests overwriting
  abi/StakingV2.json
  contracts/v1/errors/StakingErrors.sol
  contracts/v2/Staking.sol
  deployments/hardhat_contracts.json
Due: prettier --write

Added migration function to shardgin table v2 contract
  contracts/v2/ShardingTable.sol
Due: prettier --write

Updated sharding table contract dependencies
  contracts/v2/ShardingTable.sol
Due: prettier --write

Migration method updated
  contracts/v2/ShardingTable.sol
Due: prettier --write

Update contracts/v2/ShardingTable.sol
  contracts/v2/ShardingTable.sol
Due: prettier --write

Updated migration method to include v1 storage contract address
  contracts/v2/ShardingTable.sol
Due: prettier --write

Added check that migration method can be called 1 hour after deployment
  contracts/v2/ShardingTable.sol
Due: prettier --write

Reworked Node Operator Fee Storage
  abi/NodeOperatorErrors.json
  abi/NodeOperatorFeeChangesStorage.json
  abi/NodeOperatorFeesStorage.json
  abi/StakingV2.json
  contracts/v2/Staking.sol
  contracts/v2/errors/NodeOperatorErrors.sol
  contracts/v2/storage/NodeOperatorFeeChangesStorage.sol
  contracts/v2/storage/NodeOperatorFeesStorage.sol
  contracts/v2/structs/NodeOperatorStructs.sol
  deploy/017_deploy_node_operator_fee_changes_storage.ts
  deploy/017_deploy_node_operator_fees_storage.ts
  deploy/029_deploy_staking_v2.ts
  deployments/hardhat_contracts.json
  index.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Fixed NodeOperatorFeesStorage + deployment script, added unit test for the operator fees migration
  abi/LegacyNodeOperatorFeeChangesStorage.json
  abi/NodeOperatorFeesStorage.json
  contracts/legacy/LegacyNodeOperatorFeeChangesStorage.sol
  contracts/v2/storage/NodeOperatorFeesStorage.sol
  deploy/017_deploy_node_operator_fees_storage.ts
  deployments/hardhat_contracts.json
  test/v2/unit/NodeOperatorFeesStorage.test.ts
Due: prettier --write, eslint --fix

Added comment
  test/v2/unit/NodeOperatorFeesStorage.test.ts
Due: prettier --write, eslint --fix

Updated sharding table mgiration method, added migration call in deployment script
  abi/ShardingTableV2.json
  contracts/v2/ShardingTable.sol
  deploy/998_initialize_contracts.ts
Due: prettier --write, eslint --fix

Updated migration execution for sharding table
  deploy/998_initialize_contracts.ts
Due: prettier --write, eslint --fix

Fixed pending operator fee migration
  deploy/017_deploy_node_operator_fees_storage.ts
  test/v2/unit/NodeOperatorFeesStorage.test.ts
Due: prettier --write, eslint --fix

Updated new Sharding Table deployment scripts + migration
  abi/ShardingTableV2.json
  contracts/v2/ShardingTable.sol
  deploy/027_deploy_sharding_table_v2.ts
  deploy/998_initialize_contracts.ts
  deployments/hardhat_contracts.json
  test/v2/unit/ShardingTableV2.test.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Removed redundant hardhat deployments JSON
  deployments/hardhat_contracts.json
Due: prettier --write

Removed redundant testing code
  contracts/v2/storage/NodeOperatorFeesStorage.sol
Due: prettier --write

Fixed NodeOperatorFeesStorage deployment script
  deploy/017_deploy_node_operator_fees_storage.ts
Due: prettier --write, eslint --fix

Removed revert for past effectiveDate lookup
  contracts/v2/storage/NodeOperatorFeesStorage.sol
Due: prettier --write

Deployed V2 contract on Neuroweb Devnet, deployed Node Operator Fee Mechanism rework on Chiado Devnet, fixed deployment scripts
  deploy/017_deploy_node_operator_fees_storage.ts
  deploy/027_deploy_sharding_table_v2.ts
  deployments/gnosis_chiado_dev_contracts.json
  deployments/otp_devnet_contracts.json
Due: prettier --write, eslint --fix
