Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

fix last claimed epoch not updated
  contracts/Staking.sol
  deployments/parameters.json
Due: prettier --write

update
  test/integration/StakingRewards.test.ts
Due: prettier --write, eslint --fix

new deployments
  deployments/base_mainnet_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/neuroweb_mainnet_contracts.json
Due: prettier --write

new staking abi
  abi/Staking.json
Due: prettier --write

new version and updates index.ts
  index.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Update indexer logick
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

added script
  data/.Rapp.history
  data/base_mainnet.csv
  data/decoded_base.csv
  package-lock.json
  package.json
  scripts/decode_transactions.ts
Due: prettier --write, eslint --fix

upadate
  package-lock.json
  package.json
  scripts/decode_transactions.ts
Due: prettier --write, eslint --fix

Add reports
  .gitignore
  .mocharc.js.json
  .mocharc.json
  indexer_qa_service/indexer_chain_tests.js
  package-lock.json
  package.json
  report-Indexer-Chain-config.js
Due: prettier --write, eslint --fix

Update
  .mocharc.js.json
  indexer_qa_service/config.js
  indexer_qa_service/indexer_chain_tests.js
  report-Indexer-Chain-config.js
Due: prettier --write, eslint --fix

quick fix
  indexer_qa_service/indexer_chain_tests.js
  report-Indexer-Chain-config.js
Due: prettier --write, eslint --fix

Update better logs
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update
  data/base_mainnet.csv
  data/decoded_base.csv
  scripts/decode_transactions.ts
Due: prettier --write, eslint --fix

Update db data
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update report
  report-Indexer-Chain-config.js
Due: prettier --write, eslint --fix

new deployments
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
  deployments/parameters.json
Due: prettier --write

update
  scripts/decode_transactions.ts
Due: prettier --write, eslint --fix

fix deployments
  contracts/storage/RandomSamplingStorage.sol
  deploy/001_deploy_hub.ts
  deploy/002_deploy_token.ts
  deploy/022_deploy_random_sampling_storage.ts
Due: prettier --write, eslint --fix

simulation setup docs
  docs/simulation-setup.md
Due: none

starting forked nodes script
  scripts/start-forked-nodes.sh
Due: none

hardhat simulation config
  hardhat.simulation.config.ts
Due: prettier --write, eslint --fix

hardhat simulation constants
  constants/simulation-constants.ts
  hardhat.simulation.config.ts
Due: prettier --write, eslint --fix

test simulation setup
  scripts/test-simulation-setup.ts
Due: prettier --write, eslint --fix

fix auto mining
  hardhat.simulation.config.ts
Due: prettier --write, eslint --fix

update
  data/decode.js
  data/decoded_transactions.csv
  data/decoded_transactions_base_mainnet.db
  data/indexer_input.csv
  data/prove_redelgate.js
  package-lock.json
  package.json
  scripts/decode_transactions.ts
Due: prettier --write, eslint --fix

move readme
  docs/simulation-setup.md
  hardhat.simulation.config.ts
  scripts/test-simulation-setup.ts
  simulation/simulation-setup.md
Due: prettier --write, eslint --fix

add constants
  simulation/constants.ts
Due: prettier --write, eslint --fix

add db helpers
  simulation/db-helpers.ts
Due: prettier --write, eslint --fix

add mining controller
  simulation/mining-controller.ts
Due: prettier --write, eslint --fix

update readme
  simulation/README_SIMULATION.md
Due: none

update tests
  simulation/mining-controller.ts
  simulation/test-foundation.ts
Due: prettier --write, eslint --fix

Fix linting: convert require() to ES6 import
  simulation/historical-rewards-simulation.ts
Due: prettier --write, eslint --fix

package.json
  package-lock.json
  package.json
Due: prettier --write

add more tests
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update
  data/decoded_gnosis.csv
  data/decoded_transactions.csv
  data/decoded_transactions.db
  data/decoded_transactions_base.db
  data/decoded_transactions_base_mainnet.db
  data/decoded_transactions_gnosis.db
  data/decoded_transactions_neuroweb.db
  data/indexer_input.csv
  data/prove_redelgate.js
  scripts/decode_transactions.ts
  scripts/verify_forwarded_call.ts
  scripts/verify_key.ts
Due: prettier --write, eslint --fix

update
  data/decoded_transactions.csv
  data/decoded_transactions.db
Due: none

Update better logick
  indexer_qa_service/config.js
  indexer_qa_service/indexer_chain_tests.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Update to test all delegator history
  .gitignore
  .mocharc.json
  indexer_qa_service/indexer_chain_tests.js
  scripts/check_total_events.js
Due: prettier --write, eslint --fix

update, msg senders solved
  data/decoded_transactions.csv
  data/decoded_transactions.db
  scripts/decode_transactions.ts
  scripts/find_matching_key.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{json,js,ts,sol}
  eslint --fix: any of: *.{js,ts}
  solhint --write: any of: *.sol,!contracts/{libraries/*.sol,Guardian.sol}
