Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

.lintstagedrc:

{
  "*.{json,js,ts,sol}": [
    "prettier --write"
  ],
  "*.{js,ts}": [
    "eslint --fix"
  ],
  "*.sol,!contracts/{utils/*.sol,Guardian.sol,TraceLabsMultiSigWallet.sol}": [
    "solhint --write"
  ]
}

Added deprecated contracts to the Hub in order to make old client backwards compatible without restart
  deploy/016_deploy_service_agreement_storage_proxy.ts
  deploy/019_deploy_assertion.ts
  deploy/022_deploy_staking.ts
  deploy/023_deploy_profile.ts
  deploy/024_deploy_commit_manager_v1.ts
  deploy/025_deploy_proof_manager_v1.ts
  deploy/026_deploy_commit_manager_v1_u1.ts
  deploy/027_deploy_proof_manager_v1_u1.ts
  deploy/028_deploy_service_agreement_v1.ts
  deploy/029_deploy_content_asset.ts
Due: prettier --write, eslint --fix

Deployed contracts on otp_alphanet
  deployments/otp_alphanet_contracts.json
Due: prettier --write

Removed automatic HubController deployment for testnet/mainnet
  deploy/001_deploy_hub.ts
Due: prettier --write, eslint --fix

Added HubController deployed on testnet to deployments JSON
  deployments/otp_testnet_contracts.json
Due: prettier --write

Deployed contracts on
  deployments/_contracts.json
Due: prettier --write

Changed onlyOwnerOrMultiSigOwner modifier in the HubController
  .lintstagedrc
  .prettierignore
  .solhintignore
  abi/MultiSigWallet.json
  contracts/HubController.sol
  contracts/MultiSigWallet.sol
  hardhat.node.config.ts
  index.ts
Due: prettier --write, eslint --fix

Change gas limit on alphanet deployment
  hardhat.config.ts
Due: prettier --write, eslint --fix

Fix testnet hub controller address
  deployments/otp_testnet_contracts.json
Due: prettier --write

Add step in hub controller deployment comment
  deploy/001_deploy_hub.ts
Due: prettier --write, eslint --fix

Deployed contracts on otp_testnet
  deployments/otp_testnet_contracts.json
Due: prettier --write

Add mainnet hub controller to deployment report
  deployments/otp_mainnet_contracts.json
Due: prettier --write

Commented out HubController tx in the deployment script, moved logs before actual tx
  deploy/998_initialize_contracts.ts
  deployments/otp_alphanet_contracts.json
Due: prettier --write, eslint --fix

Added additional log for HubController address in the deployment script
  deploy/998_initialize_contracts.ts
Due: prettier --write, eslint --fix

Changed order of logs
  deploy/998_initialize_contracts.ts
Due: prettier --write, eslint --fix

Deployed contracts on otp_mainnet
  deployments/otp_mainnet_contracts.json
Due: prettier --write

Cleaned junk needed only for 6.0.4 release
  deploy/016_deploy_service_agreement_storage_proxy.ts
  deploy/019_deploy_assertion.ts
  deploy/028_deploy_service_agreement_v1.ts
  deploy/029_deploy_content_asset.ts
  deploy/998_initialize_contracts.ts
Due: prettier --write, eslint --fix

Fixed ServiceAgreementV1U1 object creation bug
  abi/ContentAsset.json
  contracts/assets/ContentAsset.sol
Due: prettier --write

Simplified ServiceAgreementStorageV1U1 object creation on asset update
  contracts/assets/ContentAsset.sol
Due: prettier --write

Update deploy/998_initialize_contracts.ts
  deploy/998_initialize_contracts.ts
Due: prettier --write, eslint --fix

Updated ContentAsset ABI
  abi/ContentAsset.json
Due: prettier --write

Deployed contracts on otp_devnet
  deployments/otp_devnet_contracts.json
Due: prettier --write

Added setters for contract statuses in the HubController
  contracts/HubController.sol
Due: prettier --write

Added possibility to perform any forward call to any contract from HubController
  abi/HubController.json
  contracts/HubController.sol
  contracts/structs/GeneralStructs.sol
  deploy/003_deploy_parameters_storage.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Fixed ServiceAgreement existence check in commit/proof managers, added optional SA object delete for cancelUpdate
  abi/ServiceAgreementStorageProxy.json
  contracts/CommitManagerV1.sol
  contracts/CommitManagerV1U1.sol
  contracts/ProofManagerV1.sol
  contracts/ProofManagerV1U1.sol
  contracts/assets/ContentAsset.sol
  contracts/storage/ServiceAgreementStorageProxy.sol
  test/unit/CommitManagerV1.test.ts
  test/unit/CommitManagerV1U1.test.ts
  test/unit/ContentAsset.test.ts
  test/unit/ProofManagerV1.test.ts
  test/unit/ProofManagerV1U1.test.ts
Due: prettier --write, eslint --fix

Added possibility for node runners to manage shares from all admin wallets
  .gitignore
  abi/SharesPoolToken.json
  contracts/Profile.sol
  contracts/Shares.sol
  contracts/SharesPoolToken.sol
  contracts/Staking.sol
  contracts/storage/ProfileStorage.sol
  hardhat.config.ts
  test/unit/Profile.test.ts
  test/unit/ProfileStorage.test.ts
Due: prettier --write, eslint --fix

Made poolMint/poolBurn in Staking contract compatible with old Shares contracts
  contracts/Staking.sol
Due: prettier --write

Deployed contracts on Polygon Mumbai Testnet
  deploy/001_deploy_hub.ts
  deploy/002_deploy_token.ts
  deploy/006_deploy_sha256.ts
  deploy/008_deploy_log2pldsf.ts
  deployments/polygon_testnet/Assertion.json
  deployments/polygon_testnet/AssertionStorage.json
  deployments/polygon_testnet/CommitManagerV1.json
  deployments/polygon_testnet/CommitManagerV1U1.json
  deployments/polygon_testnet/ContentAsset.json
  deployments/polygon_testnet/ContentAssetStorage.json
  deployments/polygon_testnet/HashingProxy.json
  deployments/polygon_testnet/Hub.json
  deployments/polygon_testnet/HubController.json
  deployments/polygon_testnet/Identity.json
  deployments/polygon_testnet/IdentityStorage.json
  deployments/polygon_testnet/Log2PLDSF.json
  deployments/polygon_testnet/ParametersStorage.json
  deployments/polygon_testnet/Profile.json
  deployments/polygon_testnet/ProfileStorage.json
  deployments/polygon_testnet/ProofManagerV1.json
  deployments/polygon_testnet/ProofManagerV1U1.json
  deployments/polygon_testnet/SHA256.json
  deployments/polygon_testnet/ScoringProxy.json
  deployments/polygon_testnet/ServiceAgreementStorageProxy.json
  deployments/polygon_testnet/ServiceAgreementStorageV1.json
  deployments/polygon_testnet/ServiceAgreementStorageV1U1.json
  deployments/polygon_testnet/ServiceAgreementV1.json
  deployments/polygon_testnet/ShardingTable.json
  deployments/polygon_testnet/ShardingTableStorage.json
  deployments/polygon_testnet/Staking.json
  deployments/polygon_testnet/StakingStorage.json
  deployments/polygon_testnet/Token.json
  deployments/polygon_testnet/UnfinalizedStateStorage.json
  deployments/polygon_testnet/WhitelistStorage.json
  deployments/polygon_testnet/solcInputs/6736b5a2b01ed07b57366e384b7e7c88.json
  deployments/polygon_testnet/solcInputs/f39b719713632a929f2674749808e322.json
  deployments/polygon_testnet_contracts.json
  hardhat.config.ts
  package.json
  utils/helpers.ts
Due: prettier --write, eslint --fix

Update deployment scripts to work with Bellecour testnet
  deploy/001_deploy_hub.ts
  deploy/002_deploy_token.ts
  deploy/006_deploy_sha256.ts
  deploy/008_deploy_log2pldsf.ts
  hardhat.config.ts
  package.json
  utils/helpers.ts
Due: prettier --write, eslint --fix

Update Token name for bellecour
  contracts/Token.sol
Due: prettier --write

Extend token deployment to mint TRAC tokens to list of wallets
  deploy/002_deploy_token.ts
Due: prettier --write, eslint --fix

Restarting deployment object
  utils/helpers.ts
Due: prettier --write, eslint --fix

Version bump
  package-lock.json
  package.json
Due: prettier --write

Updated helpers class
  utils/helpers.ts
Due: prettier --write, eslint --fix

Fixed github action for npm publish
  .github/workflows/npm-publish.yml
Due: none

Changed prepare script to install
  package.json
Due: prettier --write
