Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

summ up logick fix
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

add better logd for delegator sum
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

add acceptable difference
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

fix d;egatpr sum logic
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update delegator sum stake logic
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

add debugging
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

upadte delegator sum logic
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update delegator sum
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update difference
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update sum delegator to useindexer only
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

add logs for delegator sum
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

chore: update JSON cache files [ci skip]
  indexer_qa_service/base_cache.json
  indexer_qa_service/gnosis_cache.json
  indexer_qa_service/neuroweb_cache.json
Due: prettier --write

remove cache from code read
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

chore: update JSON cache files [ci skip]
  indexer_qa_service/neuroweb_cache.json
Due: prettier --write

show full delegator key
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

add full delegator message
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

add new neuroweb cache
  indexer_qa_service/indexer_chain_tests.js
  indexer_qa_service/neuroweb_cache.json
Due: prettier --write, eslint --fix

Make tets pass with < 20 wei
  indexer_qa_service/indexer_chain_tests.js
  indexer_qa_service/test_comprehensive_validation.js
Due: prettier --write, eslint --fix

chore: update JSON cache files [ci skip]
  indexer_qa_service/base_cache.json
Due: prettier --write

add missing events better
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update missing events logic
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

fix error for missing events
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update delegaotr sum logic
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

chore: update JSON cache files [ci skip]
  indexer_qa_service/base_cache.json
  indexer_qa_service/gnosis_cache.json
  indexer_qa_service/missing_events_base_1755078977782.json
  indexer_qa_service/missing_events_gnosis_1755078980332.json
  indexer_qa_service/missing_events_neuroweb_1755078983625.json
  indexer_qa_service/neuroweb_cache.json
Due: prettier --write

fix delegator sum
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

chore: update JSON cache files [ci skip]
  indexer_qa_service/base_cache.json
  indexer_qa_service/missing_events_base_1755079381215.json
  indexer_qa_service/missing_events_gnosis_1755079384234.json
  indexer_qa_service/missing_events_neuroweb_1755079387458.json
  indexer_qa_service/neuroweb_cache.json
Due: prettier --write

contracts fixes
  abi/ClaimV6Helper.json
  abi/Staking.json
  abi/StakingManager.json
  abi/V6_DelegatorsInfo.json
  contracts/ClaimV6Helper.sol
  contracts/Staking.sol
  contracts/StakingManager.sol
  contracts/V6_Claim.sol
  contracts/V6_RandomSampling.sol
  contracts/V8_1_1_Rewards_Period.sol
  contracts/storage/V6_DelegatorsInfo.sol
Due: prettier --write

deployments order fix
  deploy/022_deploy_v6_delegators_info.ts
  deploy/023_deploy_v6_random_sampling_storage.ts
  deploy/024_deploy_claim_v6_helper.ts
  deploy/025_deploy_staking.ts
  deploy/026_deploy_v6_claim.ts
  deploy/027_deploy_staking_kpi.ts
  deploy/028_deploy_profile.ts
  deploy/029_deploy_knowledge_collection.ts
  deploy/030_deploy_paranet_staging_registry.ts
  deploy/031_deploy_paranet.ts
  deploy/032_deploy_paranet_Incentives_pool_factory_helper.ts
  deploy/033_deploy_paranet_incentives_pool_factory.ts
  deploy/034_deploy_random_sampling.ts
  deploy/035_deploy_v6_random_sampling.ts
  deploy/036_deploy_v8_1_1_rewards_period_storage.ts
  deploy/037_deploy_v8_1_1_rewards_period.ts
  deploy/038_deploy_staking_manager.ts
Due: prettier --write, eslint --fix

improve v8.1.1 contract
  abi/V8_1_1_Rewards_Period.json
  contracts/StakingManager.sol
  contracts/V8_1_1_Rewards_Period.sol
Due: prettier --write

v8.1.1 v8 tuning period migrator contract
  abi/MigratorV8TuningPeriodRewards.json
  abi/Staking.json
  contracts/Staking.sol
  contracts/migrations/MigratorV8TuningPeriodRewards.sol
  deploy/032_deply_migrator_v8_tuning_period_rewards.ts
  test/integration/MigratorV8TuningPeriodRewards.test.ts
Due: prettier --write, eslint --fix

update migrator
  abi/MigratorV8TuningPeriodRewards.json
  contracts/migrations/MigratorV8TuningPeriodRewards.sol
  test/integration/MigratorV8TuningPeriodRewards.test.ts
Due: prettier --write, eslint --fix

update script
  scripts/decode_transactions.ts
Due: prettier --write, eslint --fix

demo test
  test/integration/MigratorV8TuningPeriodRewards.test.ts
Due: prettier --write, eslint --fix

queries
  data/query.sql
Due: none

improvements
  scripts/decode_transactions.ts
Due: prettier --write, eslint --fix

Add MigratorV6TuningPeriodRewards & tests
  abi/MigratorV6TuningPeriodRewards.json
  contracts/migrations/MigratorV6TuningPeriodRewards.sol
  deploy/033_deploy_migrator_v6_tuning_period_rewards.ts
  test/integration/MigratorV6TuningPeriodRewards.test.ts
Due: prettier --write, eslint --fix

update query for epoch 8 end
  data/query.sql
Due: none

update score formula
  contracts/RandomSampling.sol
  deployments/base_mainnet_contracts.json
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/neuroweb_mainnet_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,js,ts,sol}
  eslint --fix: any of: *.{js,ts}
  solhint --write: any of: *.sol,!contracts/{libraries/*.sol,Guardian.sol}
