Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

fix gnosis issues
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update chunking errors
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

fix gnosis
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update table name
  simulation/helpers/db-helpers.ts
Due: prettier --write, eslint --fix

add helpers and fix bugs in validation
  simulation/helpers/simulation-helpers.ts
  simulation/helpers/validation.ts
Due: prettier --write, eslint --fix

make stakingKPI._simulatePrepareForStakeChange public
  abi/StakingKPI.json
  contracts/StakingKPI.sol
Due: prettier --write

update table name
  simulation/README_SIMULATION.md
Due: none

add script for extracting delegators
  simulation/scripts/extract_delegators_by_node.ts
  simulation/scripts/process_all_chains_delegators.sh
Due: prettier --write, eslint --fix

add export function
  simulation/historical-rewards-simulation.ts
Due: prettier --write, eslint --fix

update
  data/decoded_transactions.csv
  data/decoded_transactions.db
  data/deleted_delegators.csv
  data/indexer_input.csv
  scripts/decode_transactions.ts
Due: prettier --write, eslint --fix

add delegators extraction inputs
  simulation/scripts/data/base-mainnet.txt
  simulation/scripts/data/base_mainnet_ALL_NODES.json
  simulation/scripts/data/base_mainnet_unmigrated_delegators.json
  simulation/scripts/data/gnosis-mainnet.txt
  simulation/scripts/data/gnosis_mainnet_ALL_NODES.json
  simulation/scripts/data/gnosis_mainnet_unmigrated_delegators.json
  simulation/scripts/data/neuroweb-mainnet.txt
  simulation/scripts/data/neuroweb_mainnet_ALL_NODES.json
  simulation/scripts/data/neuroweb_mainnet_unmigrated_delegators.json
Due: prettier --write

adapt delegators extraction
  simulation/scripts/extract_delegators_by_node.ts
  simulation/scripts/process_all_chains_delegators.sh
Due: prettier --write, eslint --fix

add delegators jsons
  simulation/base_mainnet_delegators.json
  simulation/gnosis_mainnet_delegators.json
  simulation/neuroweb_mainnet_delegators.json
Due: prettier --write

comments
  contracts/migrations/V8_1_1_Rewards_Migrator.sol
Due: prettier --write

update
  contracts/V8_1_2_RandomSampling.sol
Due: prettier --write

update
  contracts/Staking.sol
Due: prettier --write

update
  abi/Staking.json
  contracts/Staking.sol
  contracts/V8_1_2_Staking.sol
Due: prettier --write

update
  contracts/V8_1_2_Staking.sol
Due: prettier --write

make _prepareForStakeChange public, remove revert blocking the simulation
  abi/Staking.json
  contracts/Staking.sol
Due: prettier --write

update
  contracts/Staking.sol
  contracts/V8_1_2_Staking.sol
Due: prettier --write

add MigratorM1V8 deployment file
  deploy/000_setup_existing_contracts.ts
  deploy/032_deploy_migratorM1V8.ts
  simulation/helpers/simulation-constants.ts
Due: prettier --write, eslint --fix

fix requestWithdrawal migration bug
  simulation/helpers/validation.ts
Due: prettier --write, eslint --fix

add delegators migration at the start, fix rewards bug, add initializeEpochMetadata
  simulation/helpers/simulation-helpers.ts
Due: prettier --write, eslint --fix

initialize MigratorM1V8 migration, disable proofs for epoch 6, add validation for handleEpochTransitions, call _prepareForStakeChange retroactively for migrated delegators, add results export
  simulation/historical-rewards-simulation.ts
Due: prettier --write, eslint --fix

add db
  simulation/db/decoded_transactions_base_mainnet.db
Due: none

add run simulation bash script
  simulation/run-simulation.sh
Due: none

fix scripts
  simulation/run-simulation.sh
  simulation/start-forked-nodes.sh
  simulation/stop-simulation.sh
Due: none

update db
  simulation/db/decoded_transactions_base_mainnet.db
Due: none

update
  abi/StakingV812.json
Due: prettier --write

add validation for MigratorM1V8
  simulation/helpers/validation.ts
Due: prettier --write, eslint --fix

add simulation helpers
  simulation/helpers/simulation-helpers.ts
Due: prettier --write, eslint --fix

MigratorM1V8 bugfixes
  simulation/historical-rewards-simulation.ts
Due: prettier --write, eslint --fix

update
  abi/StakingV812.json
  contracts/Staking.sol
  contracts/V8_1_2_Staking.sol
Due: prettier --write

update
  abi/Staking.json
Due: prettier --write

update
  contracts/V6_Claim.sol
  contracts/V6_RandomSampling.sol
  contracts/storage/V6_DelegatorsInfo.sol
  contracts/storage/V6_RandomSamplingStorage.sol
Due: prettier --write

update
  abi/Staking.json
  abi/V6_Claim.json
  abi/V6_DelegatorsInfo.json
  abi/V6_RandomSampling.json
  abi/V6_RandomSamplingStorage.json
  contracts/Staking.sol
  contracts/V6_Claim.sol
Due: prettier --write

update
  abi/ParametersStorage.json
  abi/Profile.json
  contracts/Profile.sol
  contracts/Staking.sol
  contracts/V6_Claim.sol
  contracts/storage/ParametersStorage.sol
Due: prettier --write

update
  contracts/Profile.sol
  contracts/Staking.sol
  contracts/V6_Claim.sol
  contracts/storage/ParametersStorage.sol
  contracts/storage/V6_DelegatorsInfo.sol
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{json,js,ts,sol}
  eslint --fix: any of: *.{js,ts}
  solhint --write: any of: *.sol,!contracts/{libraries/*.sol,Guardian.sol}
