Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

.lintstagedrc:

{
  "*.{json,js,ts,sol}": [
    "prettier --write"
  ],
  "*.{js,ts}": [
    "eslint --fix"
  ],
  "*.sol,!contracts/{libraries/*.sol,Guardian.sol}": [
    "solhint --write"
  ]
}

feat: implement EpochAskStorage contract
  contracts/storage/EpochAskStorage.sol
Due: prettier --write

update ParametersStorage access control
  abi/ParametersStorage.json
  contracts/storage/ParametersStorage.sol
  test/unit/ParametersStorage.test.ts
Due: prettier --write, eslint --fix

fix tests
  test/integration/RandomSampling.test.ts
  test/integration/Staking.test.ts
Due: prettier --write, eslint --fix

end block
  data/query.sql
Due: none

update max stake
  contracts/storage/ParametersStorage.sol
Due: prettier --write

make formula more understandable
  contracts/RandomSampling.sol
  test/integration/RandomSampling.test.ts
Due: prettier --write, eslint --fix

nw new contracts
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

update neuroweb testnet contracts and parameters.json
  deployments/neuroweb_testnet_contracts.json
  deployments/parameters.json
Due: prettier --write

new gnosis testnet contracts
  deployments/gnosis_chiado_test_contracts.json
Due: prettier --write

new base sepolia contracts
  deployments/base_sepolia_test_contracts.json
Due: prettier --write

new contracts
  deployments/base_mainnet_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/neuroweb_mainnet_contracts.json
Due: prettier --write

new deployments
  deployments/base_mainnet_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/neuroweb_mainnet_contracts.json
Due: prettier --write

new deployments
  deployments/gnosis_mainnet_contracts.json
Due: prettier --write

add package-lock-check
  .github/workflows/check-package-lock.yml
Due: none

improve package lock check
  .github/workflows/check-package-lock.yml
Due: none

fix issues
  .github/workflows/check-package-lock.yml
Due: none

feat: implement RFC-26 stake-adjusted multi-epoch node score formula
  contracts/RandomSampling.sol
  test/integration/RandomSampling.test.ts
  test/integration/Staking.test.ts
Due: prettier --write, eslint --fix

docs: add RFC-26 documentation and fix test suite
  PUBLISHING_FACTOR_ACCUMULATION_PROPOSAL.md
  README.md
  hardhat.node.config.ts
  test/integration/Staking.test.ts
  test/integration/StakingRewards.test.ts
Due: prettier --write, eslint --fix

docs: clarify ask alignment factor calculation in comments
  contracts/RandomSampling.sol
Due: prettier --write

style: fix prettier formatting
  contracts/RandomSampling.sol
  test/integration/Staking.test.ts
  test/integration/StakingRewards.test.ts
Due: prettier --write, eslint --fix

fix: replace .to.be.true with .to.equal(true) for ESLint compliance
  test/integration/RandomSampling.test.ts
  test/integration/Staking.test.ts
  test/integration/StakingRewards.test.ts
Due: prettier --write, eslint --fix

feat: increase maximum stake cap from 5M to 10M TRAC
  contracts/storage/ParametersStorage.sol
Due: prettier --write

chore: remove PUBLISHING_FACTOR_ACCUMULATION_PROPOSAL.md from PR
  PUBLISHING_FACTOR_ACCUMULATION_PROPOSAL.md
Due: none

refactor: extract sqrt helper to shared math-helpers module
  test/helpers/math-helpers.ts
  test/integration/RandomSampling.test.ts
  test/integration/Staking.test.ts
Due: prettier --write, eslint --fix

deploy: RFC-26 scoring formula on all testnets and mainnets
  deployments/base_mainnet_contracts.json
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/neuroweb_mainnet_contracts.json
  deployments/neuroweb_testnet_contracts.json
  deployments/parameters.json
Due: prettier --write

update package-lock
  .github/workflows/check-package-lock.yml
Due: none

update dependecies
  .github/workflows/check-package-lock.yml
Due: none

feat(migrations): add MigratorV6Epochs9to12Rewards with deploy script and integration tests
  abi/MigratorV6Epochs9to12Rewards.json
  contracts/migrations/MigratorV6Epochs9to12Rewards.sol
  deploy/034_deploy_migrator_v6_epochs_9to12_rewards.ts
  test/integration/MigratorV6Epochs9to12Rewards.test.ts
Due: prettier --write, eslint --fix

deployments
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
  hardhat.config.ts
Due: prettier --write, eslint --fix

Add AGENTS.md
  AGENTS.md
Due: none
