Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

.lintstagedrc:

{
  "*.{json,js,ts,sol}": [
    "prettier --write"
  ],
  "*.{js,ts}": [
    "eslint --fix"
  ],
  "*.sol,!contracts/{libraries/*.sol,Guardian.sol}": [
    "solhint --write"
  ]
}

Redeployed Testnet
  abi/Migrator.json
  contracts/storage/Migrator.sol
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
  scripts/migrate_v6_data.ts
Due: prettier --write, eslint --fix

Final migration fixes
  abi/Migrator.json
  contracts/storage/Migrator.sol
  scripts/initiate_v6_delegators_migration.ts
  scripts/migrate_v6_data.ts
  scripts/migrate_v6_tokens.ts
Due: prettier --write, eslint --fix

Bumped package version
  package-lock.json
  package.json
Due: prettier --write

Adapted publish for V8
  abi/ContentAssetV2.json
  abi/IChronos.json
  abi/IEpochStorage.json
  abi/ServiceAgreementV1.json
  contracts/v1/ServiceAgreementV1.sol
  contracts/v2/assets/ContentAsset.sol
  contracts/v2/paranets/Paranet.sol
  deploy/042_deploy_service_agreement_v1.ts
  deployments/base_mainnet_contracts.json
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/otp_mainnet_contracts.json
  deployments/otp_testnet_contracts.json
  gnosis
Due: prettier --write, eslint --fix

Removed redundant file
  gnosis
Due: none

Updated Chronos to treat < startTime as epoch 1
  contracts/storage/Chronos.sol
  deploy/009_deploy_chronos.ts
  deployments/parameters.json
Due: prettier --write, eslint --fix

Updated migration script
  scripts/migrate_v6_tokens.ts
Due: prettier --write, eslint --fix

Added missing KPIs to EpochStorage
  abi/EpochStorage.json
  contracts/storage/EpochStorage.sol
Due: prettier --write

Redeploy EpochStorage/Chronos on testnet
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
  index.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Redeployed EpochStorage on Testnet
  contracts/storage/EpochStorage.sol
  deployments/base_sepolia_test_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/neuroweb_testnet_contracts.json
Due: prettier --write

Redeployed on Base
  deployments/base_sepolia_test_contracts.json
Due: prettier --write

Added unit tests for EpochStorage
  test/unit/EpochStorage.ts
Due: prettier --write, eslint --fix

Improved unit tests for EpochStorage, reverted back change for Hub
  abi/Hub.json
  contracts/storage/Hub.sol
  deploy/001_deploy_hub.ts
  deploy/998_initialize_contracts.ts
  test/unit/EpochStorage.test.ts
Due: prettier --write, eslint --fix

Added additional getters for EpochStorage
  abi/EpochStorage.json
  contracts/storage/EpochStorage.sol
  test/unit/EpochStorage.test.ts
Due: prettier --write, eslint --fix

Deployed on Mainnet
  contracts/storage/Migrator.sol
  deployments/base_mainnet_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/neuroweb_mainnet_contracts.json
  package-lock.json
  package.json
  scripts/get_sharding_table.ts
  scripts/migrate_v6_data.ts
Due: prettier --write, eslint --fix

Added NeuroERC20 setter script
  deploy/100_set_neuro_erc20.ts
Due: prettier --write, eslint --fix

Fixed Pricing mechanism
  abi/Ask.json
  contracts/Ask.sol
  contracts/Profile.sol
  contracts/Staking.sol
Due: prettier --write

Redeployed AskStorage on Mainnet
  .prettierignore
  .solhintignore
  custom_types/assertion-tools.d.ts
  deploy/998_initialize_contracts.ts
  deployments/base_mainnet_contracts.json
  deployments/gnosis_mainnet_contracts.json
  deployments/neuroweb_mainnet_contracts.json
  hardhat.config.ts
  tasks/send_forward_call.ts
  test/helpers/constants.ts
  testdsadas
Due: prettier --write, eslint --fix

Removed garbage
  testdsadas
Due: none

Update ParanetNeuroIncentivesPool.sol
  contracts/paranets/ParanetNeuroIncentivesPool.sol
Due: prettier --write

Naive imeplementation of owenr check
  contracts/paranets/Paranet.sol
Due: prettier --write

More optimal _checkKnowledgeCollectionOwner function
  contracts/paranets/Paranet.sol
Due: prettier --write

Enable submitKnowledgeAsset
  contracts/paranets/Paranet.sol
Due: prettier --write

Rewrite mintet and burned count getting
  contracts/paranets/Paranet.sol
Due: prettier --write

change text
  contracts/paranets/Paranet.sol
Due: prettier --write

Fix typo
  contracts/paranets/Paranet.sol
Due: prettier --write

Update ParanetknowledgeCollectionIdRegistry
  abi/ParanetKnowledgeAssetsRegistry.json
  contracts/libraries/ParanetLib.sol
  contracts/storage/paranets/ParanetKnowledgeAssetsRegistry.sol
Due: prettier --write

Rename asset to collection
  contracts/libraries/ParanetLib.sol
  contracts/paranets/Paranet.sol
  contracts/paranets/ParanetIncentivesPoolFactory.sol
  contracts/paranets/ParanetNeuroIncentivesPool.sol
  contracts/storage/paranets/ParanetKnowledgeMinersRegistry.sol
  contracts/storage/paranets/ParanetServicesRegistry.sol
  contracts/storage/paranets/ParanetknowledgeCollectionIdRegistry.sol
  contracts/storage/paranets/ParanetsRegistry.sol
Due: prettier --write

Rename fix typos
  contracts/libraries/ParanetLib.sol
  contracts/paranets/Paranet.sol
  contracts/storage/paranets/ParanetKnowledgeCollectionsRegistry.sol
  contracts/storage/paranets/ParanetsRegistry.sol
Due: prettier --write

Fix renaming
  contracts/libraries/ParanetLib.sol
  contracts/paranets/Paranet.sol
  contracts/storage/paranets/ParanetKnowledgeMinersRegistry.sol
Due: prettier --write

fixes
  contracts/libraries/ParanetLib.sol
  contracts/paranets/Paranet.sol
Due: prettier --write

Fix _updateSubmittedKnowledgeCollectionMetadata
  contracts/paranets/Paranet.sol
Due: prettier --write

Make paranet easier to count and discover
  contracts/storage/paranets/ParanetsRegistry.sol
Due: prettier --write

Add getKnowledgeCollectionLocators batch getter
  contracts/storage/paranets/ParanetKnowledgeCollectionsRegistry.sol
Due: prettier --write

getKnowledgeCollectionLocatorsWithPagination
  contracts/paranets/Paranet.sol
Due: prettier --write

Update ParanetNeuroIncentivesPool & ParanetIncentivesPoolFactory
  contracts/paranets/ParanetIncentivesPoolFactory.sol
  contracts/paranets/ParanetNeuroIncentivesPool.sol
Due: prettier --write

Remove unused import from ParanetIncentivesPoolFactory
  contracts/paranets/ParanetIncentivesPoolFactory.sol
Due: prettier --write

Update KnowledgeCollection with paranet features
  contracts/KnowledgeCollection.sol
Due: prettier --write

Implement suggested changes from review
  contracts/KnowledgeCollection.sol
  contracts/libraries/ParanetLib.sol
  contracts/paranets/ParanetIncentivesPoolFactory.sol
  contracts/storage/paranets/ParanetKnowledgeCollectionsRegistry.sol
  contracts/storage/paranets/ParanetServicesRegistry.sol
  contracts/storage/paranets/ParanetsRegistry.sol
Due: prettier --write
