Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

Reverted changes in scripts
  package.json
Due: prettier --write

Version bump
  package-lock.json
  package.json
Due: prettier --write

Updated helper for testing
  utils/helpers.ts
Due: prettier --write, eslint --fix

Added logs for sharding table
  deploy/011_deploy_sharding_table_storage.ts
Due: prettier --write, eslint --fix

Added logs in helpers.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Get sharding table call added
  utils/helpers.ts
Due: prettier --write, eslint --fix

Added logging for already deployed contracts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Updated helpers
  utils/helpers.ts
Due: prettier --write, eslint --fix

Removed reading from sharding table
  utils/helpers.ts
Due: prettier --write, eslint --fix

Added global to hardhat clean
  package.json
Due: prettier --write

Added reset hardhat network
  deploy/001_deploy_hub.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Added random deployment
  deploy/001_deploy_hub.ts
Due: prettier --write, eslint --fix

Added random seting of conttracts in hub
  utils/helpers.ts
Due: prettier --write, eslint --fix

Set random contract address
  deploy/001_deploy_hub.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Choosing random deployer for other contracts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Removed random transactions
  utils/helpers.ts
Due: prettier --write, eslint --fix

Updated npm clean, commented swithing of accounts for deployment
  package.json
  utils/helpers.ts
Due: prettier --write, eslint --fix

Added reset action in hardhat
  hardhat.config.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Removed reset, added random transaction before deployment of contracts
  utils/helpers.ts
Due: prettier --write, eslint --fix

removed random contract name set in hub
  utils/helpers.ts
Due: prettier --write, eslint --fix

fix reward calculation
  contracts/ProofManagerV1U1.sol
  test/unit/ProofManagerV1U1.test.ts
Due: prettier --write, eslint --fix

update reward calculation to be more gas efficient
  contracts/ProofManagerV1U1.sol
Due: prettier --write

fix remaining epochs calculation, add more tests
  contracts/ProofManagerV1.sol
  contracts/ProofManagerV1U1.sol
  test/unit/ProofManagerV1.test.ts
  test/unit/ProofManagerV1U1.test.ts
Due: prettier --write, eslint --fix

fix production vulnerabilities
  package-lock.json
Due: prettier --write

bump version in package.json and contracts
  contracts/ProofManagerV1.sol
  contracts/ProofManagerV1U1.sol
  package-lock.json
  package.json
Due: prettier --write

bump version in tests
  test/unit/ProofManagerV1.test.ts
  test/unit/ProofManagerV1U1.test.ts
Due: prettier --write, eslint --fix

fix reward calculation (#182)
  contracts/ProofManagerV1.sol
  contracts/ProofManagerV1U1.sol
  package-lock.json
  package.json
  test/unit/ProofManagerV1.test.ts
  test/unit/ProofManagerV1U1.test.ts
Due: prettier --write, eslint --fix

Deployed contracts on otp_alphanet
  deployments/otp_alphanet_contracts.json
Due: prettier --write

Deployed contracts on otp_alphanet (#184)
  deployments/otp_alphanet_contracts.json
Due: prettier --write

Deployed contracts on otp_devnet
  deployments/otp_devnet_contracts.json
Due: prettier --write

Add example how to use encode_data task
  README.md
Due: none

Deployed contracts on otp_testnet
  deployments/otp_testnet_contracts.json
Due: prettier --write

Deployed contracts on otp_mainnet
  deployments/otp_mainnet_contracts.json
Due: prettier --write

Added contract version, git branch name, git commit hash, deployment timestamp to the deployment config, reworked logic for deploying V1/V2 contracts
  deploy/001_deploy_hub_v2.ts
  deploy/002_deploy_hub.ts
  deploy/011_deploy_identity_storage_v2.ts
  deploy/012_deploy_identity_storage.ts
  deploy/019_deploy_content_asset_storage_v2.ts
  deploy/020_deploy_content_asset_storage.ts
  deploy/999_save_deployments.ts
  package.json
  utils/helpers.ts
Due: prettier --write, eslint --fix

Fixed linter errors
  .gitignore
  .prettierignore
  .solhintignore
  contracts/v2/storage/IdentityStorage.sol
  contracts/v2/storage/assets/ContentAssetStorage.sol
Due: prettier --write

Changed UAL construction in the ContentAssetStorageV2 to include chain ID
  contracts/v2/storage/assets/ContentAssetStorage.sol
Due: prettier --write

Added setters for the ContractStatus in the HubController, added simple HubController unit test
  contracts/v1/HubController.sol
  test/v1/unit/HubController.test.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Reworked ContractStatus flag setting for the contracts inside HubController
  contracts/v1/HubController.sol
Due: prettier --write

Added new npm scripts for v1/v2 contracts, changed exported ABIs to export latest version by default, changed initial tokenId for ContentAssetV2 to 1 instead of 0
  contracts/v2/storage/assets/ContentAssetStorage.sol
  index.ts
  package.json
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{json,js,ts,sol}
  eslint --fix: any of: *.{js,ts}
  solhint --write: any of: *.sol,!contracts/{utils/*.sol,Guardian.sol,MultiSigWallet.sol}
