Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

Added NodeOperatorFeeChangesStorage, updated deployment scripts, added unit tests for LinearSum + gas consumption test for ShardingTable
  .github/workflows/checks.yml
  abi/NodeOperatorFeeChangesStorage.json
  abi/StakingV2.json
  contracts/v2/Staking.sol
  contracts/v2/errors/StakingErrors.sol
  contracts/v2/storage/NodeOperatorFeeChangesStorage.sol
  deploy/017_deploy_node_operator_fee_changes_storage.ts
  deploy/018_deploy_profile_storage.ts
  deploy/019_deploy_service_agreement_storage_v1.ts
  deploy/020_deploy_service_agreement_storage_v1u1.ts
  deploy/021_deploy_service_agreement_storage_proxy.ts
  deploy/022_deploy_content_asset_storage_v2.ts
  deploy/023_deploy_content_asset_storage.ts
  deploy/024_deploy_unfinalized_state_storage.ts
  deploy/025_deploy_assertion.ts
  deploy/026_deploy_identity.ts
  deploy/027_deploy_sharding_table_v2.ts
  deploy/028_deploy_sharding_table.ts
  deploy/029_deploy_staking_v2.ts
  deploy/030_deploy_staking.ts
  deploy/031_deploy_profile.ts
  deploy/032_deploy_commit_manager_v2.ts
  deploy/033_deploy_commit_manager_v1.ts
  deploy/034_deploy_commit_manager_v2_u1.ts
  deploy/035_deploy_commit_manager_v1_u1.ts
  deploy/036_deploy_proof_manager_v1.ts
  deploy/037_deploy_proof_manager_v1_u1.ts
  deploy/038_deploy_service_agreement_v1.ts
  deploy/039_deploy_content_asset.ts
  hardhat.node.config.ts
  index.ts
  package.json
  test/v2/unit/CommitManagerV2.test.ts
  test/v2/unit/LinearSum.test.ts
  test/v2/unit/ShardingTableV2.test.ts
Due: prettier --write, eslint --fix

Redeployed contracts on Gnosis Chiado for Devnet environment
  deployments/gnosis_chiado_dev_contracts.json
  hardhat.config.ts
Due: prettier --write, eslint --fix

Added new events and unit tests for CommitManagerV2U1/StakingV2
  abi/Profile.json
  abi/StakingV2.json
  contracts/v1/Profile.sol
  contracts/v2/Staking.sol
  contracts/v2/errors/StakingErrors.sol
  test/v1/unit/Profile.test.ts
  test/v2/unit/CommitManagerV2U1.test.ts
  test/v2/unit/StakingV2.test.ts
Due: prettier --write, eslint --fix

Redeployed contracts on Gnosis Chiado for Testnet environment
  deployments/gnosis_chiado_test_contracts.json
  deployments/parameters.json
Due: prettier --write

Added Stake balancing for score calculations, added possibility to once set the delay free period for operator fees
  abi/NodeOperatorFeeChangesStorage.json
  contracts/v1/Profile.sol
  contracts/v1/scoring/log2pldsf.sol
  contracts/v1/storage/ParametersStorage.sol
  contracts/v2/Staking.sol
  contracts/v2/scoring/LinearSum.sol
  contracts/v2/storage/NodeOperatorFeeChangesStorage.sol
  test/v1/unit/ParametersStorage.test.ts
  test/v1/unit/Profile.test.ts
Due: prettier --write, eslint --fix

Implement scaling down the score
  contracts/v2/scoring/LinearSum.sol
  contracts/v2/utils/ScaleDownLibrary.sol
  test/v2/unit/CommitManagerV2.test.ts
  test/v2/unit/LinearSum.test.ts
Due: prettier --write, eslint --fix

Fix calculate score in tests
  test/v2/unit/CommitManagerV2.test.ts
  test/v2/unit/LinearSum.test.ts
Due: prettier --write, eslint --fix

Implement value verification test for linear sum
  contracts/v2/scoring/LinearSum.sol
  test/v2/unit/LinearSum.test.ts
Due: prettier --write, eslint --fix

Fixed unit tests, redeployed LinearSum on Gnosis Chiado for Devnet/Testnet environments
  deployments/gnosis_chiado_dev_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  test/v2/unit/CommitManagerV2.test.ts
  test/v2/unit/CommitManagerV2U1.test.ts
Due: prettier --write, eslint --fix

Update v2/CommitManagerV1U1 StateFinalized to match v1/CommitManagerV1U1 event
  abi/CommitManagerV2U1.json
  contracts/v2/CommitManagerV1U1.sol
Due: prettier --write

Fixed overflow issue in LinearSum, redeployed LinearSum on Chiado for Dev/Test envs
  contracts/v2/scoring/LinearSum.sol
  deployments/gnosis_chiado_dev_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  deployments/parameters.json
Due: prettier --write

Fixed another overflow issue, redeployed LinearSum
  contracts/v2/scoring/LinearSum.sol
  deployments/gnosis_chiado_dev_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  test/v2/unit/LinearSum.test.ts
Due: prettier --write, eslint --fix

Added ProfileV2 with possibility to set initial operator fee on profile creation, added limit for the Sharding Table size
  abi/ParametersStorage.json
  abi/ProfileV2.json
  abi/StakingV2.json
  contracts/v1/errors/GeneralErrors.sol
  contracts/v1/storage/ParametersStorage.sol
  contracts/v2/Profile.sol
  contracts/v2/Staking.sol
  contracts/v2/errors/ProfileErrors.sol
  contracts/v2/errors/ShardingTableErrors.sol
  deploy/031_deploy_profile_v2.ts
  deploy/032_deploy_profile.ts
  deploy/033_deploy_commit_manager_v2.ts
  deploy/034_deploy_commit_manager_v1.ts
  deploy/035_deploy_commit_manager_v2_u1.ts
  deploy/036_deploy_commit_manager_v1_u1.ts
  deploy/037_deploy_proof_manager_v1.ts
  deploy/038_deploy_proof_manager_v1_u1.ts
  deploy/039_deploy_service_agreement_v1.ts
  deploy/040_deploy_content_asset.ts
  deployments/gnosis_chiado_dev_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  hardhat.node.config.ts
  index.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

Added shardingTableSizeLimit parameter setting
  deployments/parameters.json
Due: prettier --write

Fixed bug in Identity contract, added possibility to register multiple op wallets on profile creation using ProfileV2, added unit tests
  abi/Identity.json
  abi/ParametersStorage.json
  abi/ProfileV2.json
  contracts/v1/Identity.sol
  contracts/v1/storage/ParametersStorage.sol
  contracts/v2/Profile.sol
  contracts/v2/errors/ProfileErrors.sol
  test/v1/unit/Identity.test.ts
  test/v2/unit/ProfileV2.test.ts
Due: prettier --write, eslint --fix

Fixed linter warnings
  contracts/v2/CommitManagerV1.sol
  contracts/v2/constants/HashRingConstants.sol
  contracts/v2/scoring/LinearSum.sol
  contracts/v2/storage/NodeOperatorFeeChangesStorage.sol
Due: prettier --write

Removed ProfileV2 in favour of Profile update
  abi/Profile.json
  abi/ProfileV2.json
  contracts/v1/Profile.sol
  contracts/v1/errors/ProfileErrors.sol
  contracts/v1/errors/StakingErrors.sol
  contracts/v2/Profile.sol
  contracts/v2/Staking.sol
  deploy/031_deploy_profile.ts
  deploy/031_deploy_profile_v2.ts
  deploy/032_deploy_commit_manager_v2.ts
  deploy/033_deploy_commit_manager_v1.ts
  deploy/034_deploy_commit_manager_v2_u1.ts
  deploy/035_deploy_commit_manager_v1_u1.ts
  deploy/036_deploy_proof_manager_v1.ts
  deploy/037_deploy_proof_manager_v1_u1.ts
  deploy/038_deploy_service_agreement_v1.ts
  deploy/039_deploy_content_asset.ts
  index.ts
  test/v1/integration/ContentAsset.test.ts
  test/v1/unit/CommitManagerV1.test.ts
  test/v1/unit/CommitManagerV1U1.test.ts
  test/v1/unit/Profile.test.ts
  test/v1/unit/ProofManagerV1.test.ts
  test/v1/unit/ProofManagerV1U1.test.ts
  test/v1/unit/ShardingTableStorage.test.ts
  test/v1/unit/Staking.test.ts
  test/v2/unit/CommitManagerV2.test.ts
  test/v2/unit/CommitManagerV2U1.test.ts
  test/v2/unit/ProfileV2.test.ts
  test/v2/unit/ShardingTableV2.test.ts
  test/v2/unit/StakingV2.test.ts
Due: prettier --write, eslint --fix

Removed indexed args from V1/V1U1 Commit Manager events
  abi/CommitManagerV1.json
  abi/CommitManagerV1U1.json
  contracts/v1/CommitManagerV1.sol
  contracts/v1/CommitManagerV1U1.sol
  package-lock.json
  package.json
Due: prettier --write

Redeployed contracts on Chiado/Neuroweb Devnet
  deployments/gnosis_chiado_dev_contracts.json
  deployments/otp_devnet_contracts.json
Due: prettier --write

Fixed bug in _addStake function, added identityId to SharesMinted/Burned events
  abi/StakingV2.json
  contracts/v2/Staking.sol
Due: prettier --write

Bumped package version
  package-lock.json
  package.json
Due: prettier --write

Added missing params to parameters JSON
  deployments/parameters.json
Due: prettier --write

Redeployed contracts on Chiado Devnet
  deployments/gnosis_chiado_dev_contracts.json
Due: prettier --write

Gnosis Testnet contracts redeployed
  deployments/gnosis_chiado_test_contracts.json
Due: prettier --write

OTP Testnet contract redeployment
  deployments/otp_testnet_contracts.json
Due: prettier --write

additional review comments
  contracts/v1/Profile.sol
  contracts/v1/Shares.sol
  contracts/v1/storage/IdentityStorage.sol
  contracts/v2/CommitManagerV1.sol
  contracts/v2/Staking.sol
Due: prettier --write

Removed indexed args from CommitManagerV2, redeployed CommitManagerV2 on Chiado
  abi/CommitManagerV2.json
  contracts/v2/CommitManagerV1.sol
  deployments/gnosis_chiado_dev_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  package-lock.json
  package.json
  utils/helpers.ts
Due: prettier --write, eslint --fix

Revert "Removed indexed args from CommitManagerV2, redeployed CommitManagerV2…"
  abi/CommitManagerV2.json
  contracts/v2/CommitManagerV1.sol
  deployments/gnosis_chiado_dev_contracts.json
  deployments/gnosis_chiado_test_contracts.json
  package-lock.json
  package.json
  utils/helpers.ts
Due: prettier --write, eslint --fix

Removed indexed args from CommitManagerV2, redeployed CommitManagerV2 on Chiado
  abi/CommitManagerV2.json
  contracts/v2/CommitManagerV1.sol
  deployments/gnosis_chiado_test_contracts.json
  package-lock.json
  package.json
  utils/helpers.ts
Due: prettier --write, eslint --fix

Added updated Chiado Test CommitManagerV2 address
  deployments/gnosis_chiado_test_contracts.json
Due: prettier --write

Fixed issue in sendProof + small fixes with parentheses
  contracts/v1/HubController.sol
  contracts/v1/Identity.sol
  contracts/v1/Profile.sol
  contracts/v1/ProofManagerV1.sol
  contracts/v1/ProofManagerV1U1.sol
  contracts/v1/ServiceAgreementV1.sol
  contracts/v1/ShardingTable.sol
  contracts/v2/CommitManagerV1.sol
  contracts/v2/CommitManagerV1U1.sol
  contracts/v2/ShardingTable.sol
  contracts/v2/Staking.sol
  contracts/v2/scoring/LinearSum.sol
Due: prettier --write

Check if node is already inside of sharding table on _insertNode
  contracts/v2/ShardingTable.sol
Due: prettier --write

Added reward to the ProofSubmitted events
  abi/ProofManagerV1.json
  abi/ProofManagerV1U1.json
  abi/StakingV2.json
  contracts/v1/ProofManagerV1.sol
  contracts/v1/ProofManagerV1U1.sol
  contracts/v2/Staking.sol
  test/v1/unit/ProofManagerV1.test.ts
  test/v1/unit/ProofManagerV1U1.test.ts
Due: prettier --write, eslint --fix

Added missing parenthesis for if blocks
  abi/ShardingTableV2.json
  contracts/v1/CommitManagerV1.sol
  contracts/v1/CommitManagerV1U1.sol
  contracts/v1/Staking.sol
  contracts/v1/assets/ContentAsset.sol
  contracts/v1/storage/ServiceAgreementStorageProxy.sol
  contracts/v1/utils/ByteArr.sol
  contracts/v1/utils/UnorderedIndexableContractDynamicSet.sol
  contracts/v1/utils/UnorderedNamedContractDynamicSet.sol
  contracts/v2/CommitManagerV1.sol
  contracts/v2/CommitManagerV1U1.sol
  contracts/v2/ShardingTable.sol
  contracts/v2/errors/ShardingTableErrors.sol
  contracts/v2/storage/assets/ContentAssetStorage.sol
  contracts/v2/utils/UnorderedNamedContractDynamicSet.sol
Due: prettier --write

Changed deployment script not to activate 1 score function on Gnosis, redeployed contracts on Chiado fr devnet/testnet env
  deploy/009_deploy_log2pldsf.ts
  deployments/gnosis_chiado_dev_contracts.json
  deployments/gnosis_chiado_test_contracts.json
Due: prettier --write, eslint --fix

Fixed unchecked initial operator fee in the Profile, redeployed contracts for Gnosis Mainnet
  abi/Profile.json
  contracts/v1/Profile.sol
  contracts/v1/errors/ProfileErrors.sol
  deploy/001_deploy_hub_v2.ts
  deploy/002_deploy_hub.ts
  deployments/gnosis_mainnet_contracts.json
  test/v1/unit/Profile.test.ts
  utils/helpers.ts
Due: prettier --write, eslint --fix

Redeployed logic contract on Neuroweb Mainnet
  deployments/otp_mainnet_contracts.json
Due: prettier --write

Add revert for getServiceAgreement if service agreement doesn't exist
  contracts/v1/errors/ServiceAgreementErrors.sol
  contracts/v1/storage/ServiceAgreementStorageProxy.sol
Due: prettier --write

Added script for sharding table cleaning
  hardhat.config.ts
  tasks/clear_sharding_table.ts
Due: prettier --write, eslint --fix

Added task description to the README
  README.md
Due: none

Path conditions:
  prettier --write: any of: *.{json,js,ts,sol}
  eslint --fix: any of: *.{js,ts}
  solhint --write: any of: *.sol,!contracts/{utils/*.sol,Guardian.sol,MultiSigWallet.sol}
