Repository OriginTrail/dkg-evm-module: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, solhint --write

update
  contracts/Staking.sol
  contracts/V6_Claim.sol
Due: prettier --write

add gnosis and nw dbs
  simulation/db/decoded_transactions_gnosis_mainnet.db
  simulation/db/decoded_transactions_neuroweb_mainnet.db
Due: none

csv updates
  simulation/helpers/simulation-constants.ts
  simulation/helpers/simulation-helpers.ts
  simulation/historical-rewards-simulation.ts
  simulation/start-forked-nodes.sh
Due: prettier --write, eslint --fix

add logging
  hardhat.simulation.config.ts
Due: prettier --write, eslint --fix

update gnosis db
  simulation/db/decoded_transactions_gnosis_mainnet.db
Due: none

update
  data/base_new.csv
  data/decoded_transactions.csv
  data/decoded_transactions.db
  data/decoded_transactions_Gnosis_new.db
  data/deleted_delegators.csv
  data/indexer_input.csv
  data/neuroweb_new.csv
  scripts/decode_transactions.ts
Due: prettier --write, eslint --fix

fix
  simulation/historical-rewards-simulation.ts
Due: prettier --write, eslint --fix

gnosis db
  simulation/db/decoded_transactions_gnosis_mainnet.db
Due: none

fixes
  contracts/Profile.sol
  simulation/historical-rewards-simulation.ts
Due: prettier --write, eslint --fix

update
  data/decodedGnosis1.db
  data/decoded_transactions.csv
  data/decoded_transactions.db
  data/deleted_delegators.csv
  data/gnosis1input.csv
  data/indexer_input.csv
  scripts/decode_transactions.ts
Due: prettier --write, eslint --fix

update
  abi/ParametersStorage.json
  abi/V6_Claim.json
  abi/V6_DelegatorsInfo.json
  contracts/Staking.sol
  contracts/V6_Claim.sol
  contracts/V6_RandomSampling.sol
  data/gnosis_withpout_operator_fee.csv
Due: prettier --write

nw db
  simulation/db/decoded_transactions_neuroweb_mainnet.db
Due: none

update
  contracts/V6_Claim.sol
  contracts/V6_RandomSampling.sol
Due: prettier --write

add knowledge value percentage to csv
  simulation/helpers/simulation-helpers.ts
  simulation/historical-rewards-simulation.ts
Due: prettier --write, eslint --fix

add logs
  simulation/historical-rewards-simulation.ts
Due: prettier --write, eslint --fix

fix
  simulation/helpers/simulation-helpers.ts
Due: prettier --write, eslint --fix

update
  abi/Staking.json
  abi/V6_Claim.json
  contracts/Staking.sol
  contracts/V6_Claim.sol
  contracts/V6_RandomSampling.sol
Due: prettier --write

upate
  deploy/040_deploy_v6_random_sampling_storage.ts
  deploy/041_deploy_v6_delegators_info.ts
  deploy/042_deploy_v6_random_sampling.ts
  deploy/043_deploy_v6_claim.ts
Due: prettier --write, eslint --fix

remove revert
  contracts/Staking.sol
Due: prettier --write

update
  contracts/Staking.sol
  contracts/V6_Claim.sol
  contracts/V8_1_1_Rewards_Period.sol
  contracts/storage/V8_1_1_Rewards_Period_Storage.sol
Due: prettier --write

update
  abi/Staking.json
  abi/V8_1_1_Rewards_Period.json
  abi/V8_1_1_Rewards_Period_Storage.json
  contracts/V8_1_1_Rewards_Period.sol
Due: prettier --write

update
  abi/StakingManager.json
  contracts/StakingManager.sol
  contracts/V6_Claim.sol
  contracts/storage/V8_1_1_Rewards_Period_Storage.sol
  deploy/044_deploy_v8_1_1_rewards_period_storage.ts
  deploy/045_deploy_v8_1_1_rewards_period.ts
  deploy/046_deploy_staking_manager.ts
Due: prettier --write, eslint --fix

update README
  simulation/README_SIMULATION.md
Due: none

adapt config
  hardhat.simulation.config.ts
Due: prettier --write, eslint --fix

clearup
  simulation/helpers/simulation-constants.ts
  simulation/helpers/simulation-helpers.ts
  simulation/historical-rewards-simulation.ts
Due: prettier --write, eslint --fix

update
  abi/ClaimV6Helper.json
  abi/Staking.json
  abi/V6_Claim.json
  abi/V8_1_1_Rewards_Period.json
  contracts/ClaimV6Helper.sol
  contracts/Staking.sol
  contracts/StakingManager.sol
  contracts/V6_Claim.sol
  contracts/V8_1_1_Rewards_Period.sol
  deploy/010_deploy_epoch_storage.ts
  deploy/023_deploy_staking.ts
  deploy/043_deploy_v6_claim.ts
  deploy/045_deploy_v8_1_1_rewards_period.ts
  deploy/047_deploy_claim_v6_helper.ts
  deployments/base_mainnet_contracts.json
Due: prettier --write, eslint --fix

update
  abi/ClaimV6Helper.json
  abi/StakingManager.json
  abi/V6_RandomSampling.json
  contracts/ClaimV6Helper.sol
  contracts/Staking.sol
  contracts/StakingManager.sol
  contracts/V6_Claim.sol
  contracts/V6_RandomSampling.sol
  deploy/046_deploy_staking_manager.ts
Due: prettier --write, eslint --fix

update
  abi/ClaimV6Helper.json
  contracts/ClaimV6Helper.sol
  contracts/Staking.sol
  contracts/storage/V6_DelegatorsInfo.sol
  test/integration/V6.test.ts
Due: prettier --write, eslint --fix

update
  contracts/ClaimV6Helper.sol
  contracts/Staking.sol
  contracts/V6_Claim.sol
  test/integration/V6.test.ts
Due: prettier --write, eslint --fix

add new logick
  .gitignore
  indexer_qa_service/base_cache.json
  indexer_qa_service/gnosis_cache.json
  indexer_qa_service/indexer_chain_tests.js
  indexer_qa_service/neuroweb_cache.json
Due: prettier --write, eslint --fix

fix cache logick beeing overwritten
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

fix KC errors
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

Fix sum delegator logick
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

fix to use cache data
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

update delegator sum logick
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

include all nodes and delegators
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

Include all nodes and delegator fix 2
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

fix node to use only > 0
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

udpate sum delegator logick
  indexer_qa_service/indexer_chain_tests.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{json,js,ts,sol}
  eslint --fix: any of: *.{js,ts}
  solhint --write: any of: *.sol,!contracts/{libraries/*.sol,Guardian.sol}
